<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<dict>
		<key>gradeId</key>
		<string>001</string>
		<key>gradeStr</key>
		<string>一年级</string>
		<key>grade</key>
		<string>yi</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
		</array>
	</dict>
	<key>002</key>
	<dict>
		<key>gradeId</key>
		<string>002</string>
		<key>gradeStr</key>
		<string>二年级</string>
		<key>grade</key>
		<string>er</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
		</array>
	</dict>
	<key>003</key>
	<dict>
		<key>gradeId</key>
		<string>003</string>
		<key>gradeStr</key>
		<string>三年级</string>
		<key>grade</key>
		<string>san</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
		</array>
	</dict>
	<key>004</key>
	<dict>
		<key>gradeId</key>
		<string>004</string>
		<key>gradeStr</key>
		<string>四年级</string>
		<key>grade</key>
		<string>si</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
		</array>
	</dict>
	<key>005</key>
	<dict>
		<key>gradeId</key>
		<string>005</string>
		<key>gradeStr</key>
		<string>五年级</string>
		<key>grade</key>
		<string>wu</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
		</array>
	</dict>
	<key>006</key>
	<dict>
		<key>gradeId</key>
		<string>006</string>
		<key>gradeStr</key>
		<string>六年级</string>
		<key>grade</key>
		<string>liu</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
		</array>
	</dict>
	<key>007</key>
	<dict>
		<key>gradeId</key>
		<string>007</string>
		<key>gradeStr</key>
		<string>初一</string>
		<key>grade</key>
		<string>chuyi</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
			<string>生物</string>
			<string>政治</string>
			<string>历史</string>
			<string>地理</string>
		</array>
	</dict>
	<key>008</key>
	<dict>
		<key>gradeId</key>
		<string>008</string>
		<key>gradeStr</key>
		<string>初二</string>
		<key>grade</key>
		<string>chuer</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
			<string>生物</string>
			<string>政治</string>
			<string>历史</string>
			<string>地理</string>
			<string>物理</string>
		</array>
	</dict>
	<key>009</key>
	<dict>
		<key>gradeId</key>
		<string>009</string>
		<key>gradeStr</key>
		<string>初三</string>
		<key>grade</key>
		<string>chusan</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
			<string>生物</string>
			<string>政治</string>
			<string>历史</string>
			<string>地理</string>
			<string>物理</string>
			<string>化学</string>
		</array>
	</dict>
	<key>010</key>
	<dict>
		<key>gradeId</key>
		<string>010</string>
		<key>gradeStr</key>
		<string>高一</string>
		<key>grade</key>
		<string>gaoyi</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
			<string>生物</string>
			<string>政治</string>
			<string>历史</string>
			<string>地理</string>
			<string>物理</string>
			<string>化学</string>
		</array>
	</dict>
	<key>011</key>
	<dict>
		<key>gradeId</key>
		<string>011</string>
		<key>gradeStr</key>
		<string>高二</string>
		<key>grade</key>
		<string>gaoer</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
			<string>生物</string>
			<string>政治</string>
			<string>历史</string>
			<string>地理</string>
			<string>物理</string>
			<string>化学</string>
		</array>
	</dict>
	<key>012</key>
	<dict>
		<key>gradeId</key>
		<string>012</string>
		<key>gradeStr</key>
		<string>高三</string>
		<key>grade</key>
		<string>gaosan</string>
		<key>subjects</key>
		<array>
			<string>数学</string>
			<string>语文</string>
			<string>英语</string>
			<string>生物</string>
			<string>政治</string>
			<string>历史</string>
			<string>地理</string>
			<string>物理</string>
			<string>化学</string>
		</array>
	</dict>
</dict>
</plist>
